		</div> <!-- .container -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/lib/jquery/jquery.min.js"></script>
		<script src="/lib/underscore/underscore-min.js"></script>
		<script src="/lib/backbone/backbone-min.js"></script>
		<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/js/templates/jst.ejs"></script>
		<script src="/js/kac-1.0.0.js"></script>
		<script src="/js/routers/main_router.js"></script>
		<script src="/js/models/current_user_model.js"></script>
		<script src="/js/views/menu_view.js"></script>
		<script src="/js/views/get_started_view.js"></script>
		<script src="/js/views/screen_import_view.js"></script>
		<script src="/js/views/screen_import_google.js"></script>
		<script src="/js/views/screen_import_google_view.js"></script>
		<script src="/js/views/screen_import_google_imported_view.js"></script>
		<script src="/js/collections/google_contacts_collection.js"></script>

	</body>
</html>